
{%extends 'base/base.html'%}

{%block title%}Editar Perfil{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid block">
      
    {% include 'base/msg_sucesso.html' %}
    {% include 'base/form_error_alert.html' %}

    <div class="block-content">
      <div class="card">
        <div class="header">
          <h2>
            <a href="{% url 'login:editarperfilview' %}"></a>
            EDITAR PERFIL
          </h2>
        </div>

        <div class="body">
          <form role="form" action="" method="post" enctype="multipart/form-data" >
           {% csrf_token %}
           
           {% for field in form %}

           <div class="form-group">
            <div class="form-line">
              <label>{{field.label}}</label>
              {{field}}
            </div>
          </div>
          
          {% endfor %}

          <button class="btn btn-success foot-btn" style="margin-right:0px;" type="submit">ALTERAR</button>
        </form>
        
      </div>

    </div>
  </div>
  
</div>
</section>


{%endblock%}