{%extends 'base/base.html'%}
{%block title%}Fornecedores{% endblock %}
{%block content%}

<div class="">
    {% include 'base/msg_sucesso.html' %}
    {% include 'base/form_error_alert.html' %}
</div>


<div class="my-2">
    <div class="header-btn">
        <a href="{{add_url}}" class="btn btn-success"><span>Novo Fornecedor</span></a>
        <button class="btn btn-red btn-remove"></button>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">cnpj</th>
            <th scope="col">Quantidade de Produtos</th>
            <th scope="col">Produtos por categorias</th>
        </tr>
    </thead>
    <tbody>
        {% for fornecedor in fornecedores %}
        <tr>
            <td><a href="{% url 'core:editfornecedor' fornecedor.id %}">{{ fornecedor.nome }}</a></td>
            <td>{{ fornecedor.cnpj }}</td>
            <td>{{ fornecedor.quantidade_produto }}</td>
            <td>{{ fornecedor.categorias_produto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}