{%extends 'base/base.html'%}
{% load static %}
{%block title%}Produtos{% endblock %}
{%block content%}

<div class="container">
    {% include 'base/msg_sucesso.html' %}
    {% include 'base/form_error_alert.html' %}
</div>

<section>
    <form method="GET">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="forncedores">Fornecedor</label>
                <select id="forncedores" name="forncedores">
                    <option selected>Todos</option>
                    {% for fornecedor in todos_fornecedores %}
                    <option value="{{ fornecedor }}">{{ fornecedor }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="col">
                <label for="categorias">Categoria</label>
                <select id="categorias" name="categorias">
                    <option selected>Todos</option>
                    {% for categoria in todas_categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="produtos">Produto</label>
                <select id="produtos" name="produtos">
                    <option selected>Todos</option>
                    {% for produto in todos_produtos %}
                    <option value="{{ produto }}">{{ produto }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col">
                    <input type="checkbox" id="fornecedor_falta" name="fornecedor_falta">
                    <label for="fornecedor_falta">Fornecedor em falta</label>
                </div>
                <div class="col-5">
                    <input type="checkbox" id="categoria_falta" name="categoria_falta">
                    <label for="categoria_falta">Categoria em falta</label>
                </div>
                <div class="col">
                    <input type="checkbox" id="produtos_falta" name="produtos_falta">
                    <label for="produtos_falta">Produto em falta</label>
                </div>
            </div>
        </div>
        <div class="col">
            <button id="search" type="submit" class="btn btn-primary">Search</button>
            <a href="{{add_url}}" class="btn btn-success"><span>Novo Produto</span></a>
        </div>
    </form>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Disponivel</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td><a href="{% url 'core:editproduto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.fornecedor }}</td>
                <td>{{ produto.disponivel }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--Pagination-->
    {% if is_paginated %}
    {% include "pagination.html" with page=page_obj %}
    {% endif %}
    <!--end of Pagination-->
</section>
{%endblock%}

{% block static %}
<script src="{% static 'js/jquery.js' %}"></script>

{% endblock %}