{%extends 'base/base.html'%}
{%block title%}Produtos{% endblock %}
{%block content%}

<div class="container">
    {% include 'base/msg_sucesso.html' %}
</div>


<div class="container my-2">
    <div class="header-btn">
        <a href="{{add_url}}" class="btn btn-success"><span>Novo Produto</span></a>
        <button class="btn btn-red btn-remove"></button>
    </div>
</div>


<section class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Disponivel</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td><a href="{% url 'core:editproduto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.fornecedor }}</td>
                <td>{{ produto.disponivel }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{%endblock%}