{%extends 'base/base.html'%}
{% load static %}
{%block title%}Produtos{% endblock %}
{%block content%}

<div class="container">
    {% include 'base/msg_sucesso.html' %}
    {% include 'base/form_error_alert.html' %}
</div>

<section>

    <div class="row">
        <div class="col">
            <label for="forncedores">Fornecedor</label>
            <select id="forncedores" name="forncedores">
                <option selected>Todos</option>
                {% for fornecedor in todos_fornecedores %}
                <option value="{{ fornecedor }}">{{ fornecedor }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="col">
            <label for="categorias">Categoria</label>
            <select id="categorias" name="categorias">
                <option selected>Todos</option>
                {% for categoria in todas_categorias %}
                <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="produtos">Produto</label>
            <select id="produtos" name="produtos">
                <option selected>Todos</option>
                {% for produto in todos_produtos %}
                <option value="{{ produto }}">{{ produto }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" id="fornecedor_falta" name="fornecedor_falta">
                <label for="fornecedor_falta">Fornecedor em falta</label>
            </div>
            <div class="col-5">
                <input type="checkbox" id="categoria_falta" name="categoria_falta">
                <label for="categoria_falta">Categoria em falta</label>
            </div>
            <div class="col">
                <input type="checkbox" id="produtos_falta" name="produtos_falta">
                <label for="produtos_falta">Produto em falta</label>
            </div>
        </div>
    </div>
    <div class="col">
        <button id="search" onclick="teste()" type="button" class="btn btn-primary">Search</button>
        <a href="{{add_url}}" class="btn btn-success"><span>Novo Produto</span></a>
    </div>
    <div id="div_teste">
        {% include 'produtos/teste.html' %}
    </div>
    <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
            </li>
            {% endif %}

            {% if page_obj.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{ i }}
                    <span class="sr-only"></span>
                </span>
            </li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %} <li class="page-item"><a
                    class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Próximo</a>
                </li>
                {% endif %}
        </ul>
    </nav>
    <!--end of Pagination-->
</section>
{%endblock%}

{% block static %}
<script src="{% static 'js/jquery.js' %}"></script>

<script>
    function teste() {
        forncedores = document.getElementById("forncedores").value;
        categorias = document.getElementById("categorias").value;
        produtos = document.getElementById("produtos").value;
        div_teste = document.getElementById("div_teste");
        div_teste.innerHTML = "";
        $.ajax({
            type: 'GET',
            url: '/produtos/',
            data: {
                forncedores: forncedores,
                categorias: categorias,
                produtos: produtos
            },
            success: function (result) {
                console.log(result);
                $("#msg").text(result)
            }
        })
    }

</script>
{% endblock %}